{% extends "farmdb/base.html" %}
{% load tz %}

{% block body %}
<h1><center><strong>Destination</strong></center></h1>
{% if destination_list %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Farm</th>
            <th>Destination</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for ds in destination_list %}
        <tr>
{#            <td>{{phoneCall.question_id}}</a></td>#}
            <td>{{ ds.farm }}</td>
            <td>{{ ds.destination }}</td>
            <td> <a href="{% url 'farmdb:DestinationUpdate' pk=ag.pk%}" class="btn btn-info" role="button">Edit</a></td>
            <td> <a href="{% url 'farmdb:DestinationDelete' pk=ds.pk%}" class="btn btn-danger" role="button">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h2><center>You haven't added something in this category. Please added something for me to store.</center></h2>
{% endif %}
{% endblock %}

