{% extends "farmdb/base.html" %}
{% load tz %}

{% block body %}
<h1><center><strong>OtherRemove</strong></center></h1>
{% if otherremove_list %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Farm</th>
            <th>Animal</th>
            <th>Remove Date</th>
            <th>Reason</th>
            <th>Destination</th>
            <th>Weight</th>
            <th>Comments</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for ot in otherremove_list %}
        <tr>
            <td>{{ ot.farm }}</td>
            <td>{{ ot.animal }}</td>
            <td>{{ ot.removeDate }}</td>
            <td>{{ ot.reason }}</td>
            <td>{{ ot.destination }}</td>
            <td>{{ ot.weight }}</td>
            <td>{{ ot.comments }}</td>
            <td> <a href="{% url 'farmdb:OtherRemoveUpdate' pk=ot.pk%}" class="btn btn-info" role="button">Edit</a></td>
        <td> <a href="{% url 'farmdb:OtherRemoveDelete' pk=ot.pk%}" class="btn btn-danger" role="button">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h2><center>You haven't added something in this category. Please added something for me to store.</center></h2>
{% endif %}
{% endblock %}

