{% extends "farmdb/base.html" %}
{% load tz %}

{% block body %}
<h1><center><strong>Paddock</strong></center></h1>
{% if paddock_list %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Farm</th>
            <th>Paddock</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for pd in paddock_list %}
        <tr>
{#            <td>{{phoneCall.question_id}}</a></td>#}
            <td>{{ pd.farm }}</td>
            <td>{{ pd.size }}</td>
            <td>{{ pd.forage }}</td>
            <td> <a href="{% url 'farmdb:PaddockUpdate' pk=ag.pk%}" class="btn btn-info" role="button">Edit</a></td>
        <td> <a href="{% url 'farmdb:PaddockDelete' pk=pd.pk%}" class="btn btn-danger" role="button">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h2><center>You haven't added something in this category. Please added something for me to store.</center></h2>
{% endif %}
{% endblock %}

