{% extends "farmdb/base.html" %}
{% load tz %}

{% block body %}
<h1><center><strong>Sale</strong></center></h1>
{% if sale_list %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Farm</th>
            <th>Sale</th>
        </tr>
        </thead>
        <tbody>
        {% for sl in sale_list %}
        <tr>
{#            <td>{{phoneCall.question_id}}</a></td>#}
            <td>{{ sl.farm }}</td>
            <td>{{ sl.animal }}</td>
            <td>{{ sl.saleTag }}</td>
            <td>{{ sl.destination }}</td>
            <td>{{ sl.weight }}</td>
            <td>{{ sl.estimated }}</td>
            <td>{{ sl.priceLb }}</td>
            <td>{{ sl.fees }}</td>
            <td>{{ sl.comments }}</td>
            <td>{{ sl.saleDate }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h2><center>You haven't added something in this category. Please added something for me to store.</center></h2>
{% endif %}
{% endblock %}

