{% extends "farmdb/base.html" %}
{% load tz %}

{% block body %}
<h1><center><strong>Sheep Care</strong></center></h1>
{% if sheepcare_list %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Farm</th>
            <th>Care Date</th>
            <th>Animal</th>
            <th>Eye</th>
            <th>Body</th>
            <th>Tail</th>
            <th>Nose</th>
            <th>Coat</th>
            <th>Jaw</th>
            <th>Wormer</th>
            <th>Wormer Quantity</th>
            <th>Hoof</th>
            <th>Weight</th>
            <th>Estimated</th>
            <th>Comments</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for sc in sheepcare_list %}
        <tr>
            <td>{{ sc.farm }}</td>
            <td>{{ sc.care_date }}</td>
            <td>{{ sc.animal }}</td>
            <td>{{ sc.eye }}</td>
            <td>{{ sc.body }}</td>
            <td>{{ sc.tail }}</td>
            <td>{{ sc.nose }}</td>
            <td>{{ sc.coat }}</td>
            <td>{{ sc.jaw }}</td>
            <td>{{ sc.wormer }}</td>
            <td>{{ sc.wormer_quantity }}</td>
            <td>{{ sc.hoof }}</td>
            <td>{{ sc.weight }}</td>
            <td>{{ sc.estimated }}</td>
            <td>{{ sc.comments }}</td>
            <td> <a href="{% url 'farmdb:SheepCareUpdate' pk=sc.pk%}" class="btn btn-info" role="button">Edit</a></td>
        <td> <a href="{% url 'farmdb:SheepCareDelete' pk=sc.pk%}" class="btn btn-danger" role="button">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h2><center>You haven't added something in this category. Please added something for me to store.</center></h2>
{% endif %}
{% endblock %}

