{% extends "farmdb/base.html" %}
{% load tz %}

{% block body %}
<h1><center><strong>Vet</strong></center></h1>
{% if vet_list %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Farm</th>
            <th>Care Date</th>
            <th>Animal ID</th>
            <th>Reason</th>
            <th>Symptoms</th>
            <th>Temperature</th>
            <th>Care</th>
            <th>Weight</th>
            <th>Vet</th>
            <th>Contact</th>
            <th>Assistants</th>
            <th>Comments</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for vt in vet_list %}
        <tr>
            <td>{{ vt.farm }}</td>
            <td>{{ vt.care_date }}</td>
            <td>{{ vt.animalId }}</td>
            <td>{{ vt.reason }}</td>
            <td>{{ vt.symptoms }}</td>
            <td>{{ vt.temperature }}</td>
            <td>{{ vt.care }}</td>
            <td>{{ vt.weight }}</td>
            <td>{{ vt.vet }}</td>
            <td>{{ vt.contact }}</td>
            <td>{{ vt.assistants }}</td>
            <td>{{ vt.comments }}</td>
            <td> <a href="{% url 'farmdb:VetUpdate' pk=vt.pk%}" class="btn btn-info" role="button">Edit</a></td>
        <td> <a href="{% url 'farmdb:VetDelete' pk=vt.pk%}" class="btn btn-danger" role="button">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h2><center>You haven't added something in this category. Please added something for me to store.</center></h2>
{% endif %}
{% endblock %}

