{% extends 'farmdb/base.html' %}
{% block body %}
<div>
    <div class="container select_item">
        <div class="row select_item">
            <div class="col-md-3 select_item"><a href=url'farmdb:create_animal_group'>Animal Group</a></div>
            <div class="col-md-3 select_item"><a href="#">Animal Sub Group</a></div>
            <div class="col-md-3 select_item"><a href="#">Animal </a></div>
            <div class="col-md-3"><a href="#">Animal </a></div>
        </div>
        <div class="row select_item">
            <div class="col-md-3 select_item"><a href="#">Animal Group</a></div>
            <div class="col-md-3 select_item"><a href="#">Animal Sub Group</a></div>
            <div class="col-md-3 select_item"><a href="#">Animal </a></div>
            <div class="col-md-3"><a href="#">Animal </a></div>
        </div>
    </div>
</div>
{% endblock %}